<div>
  <Menu></Menu>
  <div class="container" id="docs">
    <br />
    <div class="row">
      <div class="col side-nav">
          <ul>
            <li 
              v-for="doc in docs"
              :class="{active: doc.active, 'indent-1em': doc.parent}"
              style="padding: 0.25em 0;"
            >
            <router-link :to='doc.path'>
              {{ doc.name }}
            </router-link>
            <ul v-if="doc.sections">
              <li v-for="sec in doc.sections">
                <router-link :to='doc.path'>{{sec.name}}</router-link>
              </li>
            </ul>
            </li>
          </ul>
      </div>
      <div class="col-10">
          <div ref="docContainer">
          </div>
      </div>
    </div>
  </div>
  <Footer></Footer>
</div>