.navbar-nav>.active>a {
    background: #f7f7f7!important;
    border-bottom: 4px solid steelblue;
    font-weight: bolder;
}

.navbar-nav>li>a {
    font-size: 1.2em;
    padding: 15px 20px;
}

.navbar-brand {
    font-size: 3em;
    padding-right: 30px;
    font-weight: bolder;
    color: steelblue!important;
}

.container {
    max-width: 880px;
}

.title {
    color: #000;
}

.sidebar-module {
    margin-bottom: 1em;
}

.example-image {
    overflow: hidden;
}

.example-image img {
    width: 90%;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #222;
}

.example-image:hover .overlay {
    opacity: 0.5;
}

.text {
    color: white;
    font-size: 1.3em;
    position: absolute;
    width: 70%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

.docs ol {
    margin-left: 1em;
}
.docs .active {
    font-weight: bold;
}

#docs-main pre {
    background-color: #F8F8F8;
    border: none;
    border-radius: 0;
    font-family: "Courier New", Courier, monospace;
}

#docs-main img {
    margin-left: 20%;
    width: 60%;
}

.paragraph {
    margin: 2em 0;
    font: 1.38em  "Helvetica Neue", Helvetica, sans-serif;
    line-height: 1.25;
    color: #222;
}
