.sidebar {
    background-color: #F5F5F5;
    min-width: 200px;
}

.sidebar>h4 {
    color: steelblue;
    border-bottom: 1px solid steelblue;
}

.sidebar-module>h4 {
    margin-left: 0.25em;
}

.example-list {
    margin-left: 1em;
}

.example-list .active {
    font-weight: bold;
}

.column {
    height: 100vh;
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}

.editor {
    padding: 0;
}

.page-header {
    margin: 0;
    background-color: #EEE;
}

.navbar-brand {
    font-size: 1.6em;
    padding-right: 30px;
    color: steelblue!important;
}

svg text {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
