.page-title {
    position: absolute;
    width:100%;
    padding: 0.5em;
    margin: 0;
    font-size: 1.28em;
    text-align: center;
}

.sidebar {
    background-color: #F5F5F5;
    width: 10%;
    padding-left: 1.5em;
    float: left;
}

.sidebar>h4 {
    color: steelblue;
    border-bottom: 1px solid steelblue;
}

.sidebar-module {
    margin-bottom: 2em;
}


.example-list {
    margin-left: 0.2em;
}

.example-list .active {
    font-weight: bold;
}

.column {
    height: 100vh;
    border-left: 1px solid #CCC;
    border-bottom: 1px solid #CCC;
}


.editor {
    padding: 0;
}

.page-header {
    margin: 0;
    padding: 0;
}

.navbar-brand {
    font-size: 1.6em;
    padding-right: 30px;
    color: steelblue!important;
}

.navbar-header {
    float: left;
    text-align: center;
    width: 100%;
}

.navbar-nav > li > a {
    padding-top:5px !important;
    padding-bottom:5px !important;
    border-left: 1px solid #CCC;
}

.navbar-nav > li > a:hover {
    background-color: #EEE!important;
}

.navbar {
    background-color: #F8F8F8;
    min-height:36px !important
}

.editor {
    float: left;
    width: 40%;
    resize: horizontal;
}

.main {
    float: left;
    width: 50%;
}


#editor {
    border-bottom: 1px solid #CCC;
}

svg text {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}
